<!DOCTYPE html>
<html lang="en" ng-app="LuxeVoyage">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>yogyakarta - LuxeVoyage</title>
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app/js/wisataService.js"></script>
    <!-- Service untuk mendapatkan data -->
    <script src="app/js/yogyakartaController.js"></script>
    <!-- Controller untuk yogyakarta -->
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="app/img/logo.png"
            alt="Logo"
            width="30"
            height="30"
            class="d-inline-block align-text-top"
          />
          LuxeVoyage
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">..</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
  <!-- Carousel Section -->
  <section>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="false"> <!-- Matikan Autoplay -->
      <!-- Carousel Indicators -->
      <div class="carousel-indicators">
        <button
          type="button"
          ng-repeat="slide in slides"
          data-bs-target="#carouselExampleSlidesOnly"
          data-bs-slide-to="{{$index}}"
          ng-class="{'active': $index === currentSlide}"
          aria-current="{{$index === currentSlide}}"
          aria-label="Slide {{$index + 1}}"
        ></button>
      </div>

      <!-- Carousel Inner -->
      <div class="carousel-inner">
        <div
          class="carousel-item"
          ng-repeat="slide in slides"
          ng-class="{'active': $index === currentSlide}"
        >
          <img ng-src="{{slide.image}}" class="d-block w-100" alt="{{slide.alt}}" />
          <div class="carousel-caption d-none d-md-block text-black fw-bold">
            <h3>{{slide.title}}</h3>
            <p>{{slide.description}}</p>
          </div>
        </div>
      </div>

      <!-- Carousel Controls -->
      <button
        class="carousel-control-prev"
        type="button"
        ng-click="prevSlide()"
        data-bs-target="#carouselExampleSlidesOnly"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        ng-click="nextSlide()"
        data-bs-target="#carouselExampleSlidesOnly"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
    </div>
    
      <!-- Tambahkan kartu aktivitas lain jika diperlukan -->
    <!-- Itinerary -->
    <div class="container mt-4">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="day1-tab" data-bs-toggle="tab" data-bs-target="#day1-tab-pane" type="button" role="tab" aria-controls="day1-tab-pane" aria-selected="true">day1</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="day2-tab" data-bs-toggle="tab" data-bs-target="#day2-tab-pane" type="button" role="tab" aria-controls="day2-tab-pane" aria-selected="false">day2</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="day3-tab" data-bs-toggle="tab" data-bs-target="#day3-tab-pane" type="button" role="tab" aria-controls="day3-tab-pane" aria-selected="false">day3</button>
        </li>
      </ul>
      <!-- Input data disini -->
      <div class="container" ng-controller="yogyakartaController">
      <!-- ng-controlernya namanya harus sama dengan controllernya agar data dari services nya bisa diakses -->
      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="day1-tab-pane" role="tabpanel" aria-labelledby="day1-tab" tabindex="0">
      <div class="day-1-yogyakarta-activities">
        <h1>Day 1: Kedatangan dan Wisata Pantai</h1>
        <p><strong>Pagi:</strong><br> {{day1.pagi}}</p>
        <p><strong>Siang:</strong><br> {{day1.siang}}</p>
        <p><strong>Sore:</strong><br> {{day1.sore}}</p>
        <p><strong>Malam:</strong><br> {{day1.malam}}</p>
      </div>

      <div class="container my-5">
        <div class="row g-4">
          <div class="col-md-4" ng-repeat="item in wisataList1">
            <div class="card">
              <img ng-src="{{item.image}}" class="card-img-top" alt="{{item.title}}">
              <div class="card-body text-center">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <button class="btn btn-primary w-100" ng-click="window.open(item.link, '_blank')">Book Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        <div class="tab-pane fade" id="day2-tab-pane" role="tabpanel" aria-labelledby="day2-tab" tabindex="0">
          <div class="day-2-activities">
            <h2>Hari 2: Wisata Alam dan Budaya Ubud</h2>
            <p><strong>Pagi:</strong><br> {{day2.pagi}}</p>
            <p><strong>Siang:</strong><br> {{day2.siang}}</p>
            <p><strong>Sore:</strong><br> {{day2.sore}}</p>
            <p><strong>Malam:</strong><br> {{day2.malam}}</p>
          </div>

          <div class="container my-5">
            <div class="row g-4">
              <div class="col-md-4" ng-repeat="item in wisataList2">
                <div class="card">
                  <img ng-src="{{item.image}}" class="card-img-top" alt="{{item.title}}">
                  <div class="card-body text-center">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <button class="btn btn-primary w-100" ng-click="window.open(item.link, '_blank')">Book Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="tab-pane fade" id="day3-tab-pane" role="tabpanel" aria-labelledby="day3-tab" tabindex="0">
          <div class="day-3-activities">
            <h2>Hari 3: Aktivitas di yogyakarta</h2>
            <p><strong>Pagi:</strong><br> {{day3.pagi}}</p>
            <p><strong>Siang:</strong><br> {{day3.siang}}</p>
          </div>
          <div class="container my-5">
            <div class="row g-4">
              <!-- sini ya kalo mau duplicate -->
              <div class="col-md-4" ng-repeat="item in wisataList3">
                <div class="card">
                  <img ng-src="{{item.image}}" class="card-img-top" alt="{{item.title}}">
                  <div class="card-body text-center">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <button class="btn btn-primary w-100" ng-click="window.open(item.link, '_blank')">Book Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- <div class="container text-center my-3">
      <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div
              class="carousel-item"
              ng-repeat="slide in slides"
              ng-class="{'active': $index === 0}"
            >
              <div class="col-md-3">
                <div class="card">
                  <div class="card-img">
                    <img ng-src="{{slide.image}}" class="img-fluid" alt="Slide">
                  </div>
                  <div class="card-img-overlay">{{slide.caption}}</div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div> -->
    




    <!-- Modul utama AngularJS -->
    <script src="app/js/app.js"></script>
    <script src="js/yogyakarta.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    
  </body>
</html>
